.popup__close{
    all: unset;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover{
    opacity: .6;
}


@media screen and (max-width: 580px) {
    .popup__close {
        position: absolute;
        top: -28px;
        right: 0px;
    }
}