.popup__photo{
    width: 433px;
    height: 540px;
    margin: 90px auto 10px;
    position: relative;
}

@media screen and (max-width: 580px) {
    .popup__photo{
        width: 240px;
        height: 299px;
        margin: 136px auto;
    }
}